@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body {
  font-family: 'outfit', sans-serif;
  margin: 0;
  padding: 0;
  /* background-image: url("../public/images/back1.jpg"); */

  /* Set a specific height */
  min-height: 500px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow-x: hidden;
  box-sizing: border-box;
}
 
